/* poppins-300 - latin */
@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/poppins-v20-latin-300.woff2') format('woff2'),
        url('../fonts/poppins-v20-latin-300.ttf') format('truetype');
}

@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/poppins-v20-latin-regular.woff2') format('woff2'),
        url('../fonts/poppins-v20-latin-regular.ttf') format('truetype');
}

@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/poppins-v20-latin-600.woff2') format('woff2'),
        url('../fonts/poppins-v20-latin-600.ttf') format('truetype');
}

@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/poppins-v20-latin-900.woff2') format('woff2'),
        url('../fonts/poppins-v20-latin-900.ttf') format('truetype');
}

:root {
    --color-brand-normal: #819B57;
    --color-brand-dark: #465929;
    --color-primary-light: #FAF4EA;
    --color-primary-black: #31261A;
    --color-secondary-dark: #A18268;
    --color-brand-light: #CFCFBC;
}

/* Base */
* {
    box-sizing: border-box;
}

body {
    color: var(--color-primary-black);
    background-color: var(--color-primary-light);
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
}

address {
    font-style: normal;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.visually-hidden {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.section {
    padding: 48px 0;
}

.container {
    width: 100%;
    max-width: 1288px;
    margin: 0 auto;
    padding: 0 24px;
}

/* Buttons */
.button {
    padding: 16px 32px;
    color: var(--color-primary-light);
    background-color: var(--color-brand-normal);
    border: 2px solid var(--color-brand-normal);
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
}

.button:hover {
    background-color: transparent;
    color: var(--color-brand-dark);
}

/* Links */
.link {
    color: var(--color-primary-light);
    text-decoration: none;
}

.link:hover {
    color: var(--color-brand-normal);
}

/* Header */

.header {
    background-color: lightgrey;
}

.header-container {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header-nav {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.header-menu {
    display: flex;
    gap: 64px;
    flex-grow: 1;
    justify-content: center;
}

/* Hero sections */
.hero-section {
    padding: 272px 0;
    background-image: url('/images/hero-section-bck.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;

}

.advantages-section {
    padding: 16px 0;
    background-color: var(--color-brand-normal);
}

.hero-title {
    color: var(--color-primary-light);
    margin-bottom: 0;
    text-align: center;
    font-size: 128px;
    font-weight: 900;
    font-style: normal;
    line-height: normal;
}

.hero-title .accent {
    color: var(--color-brand-normal);
}

/* Advantage section */
.advantages-list {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    font-size: 20px;
    font-weight: 300;
}

.advantages-item {
    font-size: 20px;
    font-weight: 300;
    color: var(--color-primary-light);
}

.traditions-title {
    margin-bottom: 42px;
}

.section-title {
    font-size: 64px;
    font-weight: 900;
    line-height: 1.3;
}

.section-title.centered {
    text-align: center;
}

.section-title .accent {
    color: var(--color-brand-dark);
}

/* Traditions sections */
.traditions-section {
    margin-bottom: 42px;
    gap: 100px;
}

.traditions-container {
    display: flex;
    justify-content: space-around;
    gap: 40px;
}

.traditions-content {
    max-width: 710px;
}

.traditions-text .brand {
    color: var(--color-brand-normal);
    font-weight: 600;
}

.traditions-text .uppercase {
    text-transform: uppercase;
}

.traditions-text.limited {
    max-width: 360px;
}

/* Cheff section */

.chef-photo {
    border-radius: 4px 4px 4px 200px;
    box-shadow: -16px 16px 0 0 var(--color-primary-light), -16px 16px 0 2px var(--color-secondary-dark);

}

.chefs-title {
    max-width: 540px;
    margin: 0 auto 80px;
}

.chefs-title::before,
.chefs-title::after {
    display: block;
    width: 352px;
    border: 2px solid var(--color-brand-light);
    content: '';
}

.chef-title {
    margin-bottom: 16px;
    font-size: 40px;
    font-weight: 600;
}

/* Formats section */
.format-card {
    height: 444px;
    padding: 24px;
    background-image: linear-gradient(180deg, rgba(49, 38, 26, 0.00) 55.21%, rgba(49, 38, 26, 0.71) 72.92%, var(--color-primary-black) 100%);
    border: 1px solid lightgray;
    border-radius: 16px;
}

.formats-list {
    display: flex;
    gap: 20px;
}

.formats-title {
    margin-bottom: 80px;
}

.format-title {
    font-size: 24px;
    font-weight: 600;
}

.format-text {
    font-size: 14px;
    font-weight: 300;
}

/* Contact section */
.contact-title {
    margin-bottom: 16px;
}

/* Footer */

.footer {
    background-color: var(--color-primary-black);
    background-image: url('/images/footer-bck.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.address-link {
    color: var(--color-primary-light);
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;
}

.address-link:hover {
    color: var(--color-brand-normal);
}

.address-copyright {
    font-size: 14px;
}